/* COLOUR */

$grey: #333;
$grey-dark: #222;
$grey-light: #ccc;
$ongoing: #98c1d9;
$done: #ee6c4d;

/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&display=swap');
