@import 'vars';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: $grey;
  min-height: 100vh;
  font-family: 'Bangers', cursive;
}

.custom-col {
  color: #fff;
  background-color: $grey-dark;
  min-height: 20rem;
  max-width: 20rem;
  margin: 0 1rem;
  border-radius: 4px;
  padding: 0.5rem;
}
